* {
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
}
nav{
    display: flex;
   justify-content: space-around;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    text-align: center;
}
#Highscore{
 cursor: pointer;
}
#answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: black;
    font-size: 15px;
    cursor: pointer;
}